.hautpage {
    list-style-type: none;
    flex-direction: row;
}

li{
    display: block;
    margin-bottom: 10px;
}

h1 {
    background-image: url('./image/accueil_image.png') ;
    background-size: cover;
    color: darksalmon;
    text-align: center;
    padding: 20px;;
}